input.nameToDo{
width:70%;
align:left;
}

input.limitToDo{
width:70%;
align:left;
}

input.addToDo{
padding: 15px 30px;
font-size: 1.5em;
font-weight: bold;
width:50%;
height:200%;
background-color:#248
color:black;
}
