<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>編集</title>
    <meta charset="UTF-8">
    <div th:replace="base"></div>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div class="borderline">
    ToDoの内容を変更します<br>
    <form method="post" action="/" th:object="${todo}">
        <p>ToDo名
            <input class="nameToDo" type="text" name="name" th:value="${todolist.name}"></p>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <span class="same-err" th:if="${err}!=null" th:text="${err}"></span>
        <p>期限
            <input class="limitToDo"type="text" name="limitdate" th:value="${#dates.format(todolist.limitdate, 'yyyy年MM月dd日')}"></p>
            <span class="text-danger" th:if="${#fields.hasErrors('limitdate')}" th:errors="*{limitdate}"></span>
        <button class="addToDo" type="submit" name="update" th:value="${todolist.id}">更新</button>
    </form>
</div>

</body>
</html>